<!DOCTYPE html>

<html>
  <head>
    <title>Occupations</title>
    <h1> Occupations in the United States </h1>
    <!-- Formatting the table -->
    <style>
        table, th, td {
           width: 75%;
           margin: auto;
        }
        th, td{
          border: 1px solid black;
          text-align: center;
          height: 30px;
          font-size: 20px;
        }
        h1{
          text-align: center;
          color: blue;
        }
        h3{
          border: 1px solid black;
          width: 50%;
        }
    </style>
  </head>

  <body>
    <center> <h3> Random Occupation: {{rand}}</h3> </center>
    <center> <h4> A chart about occupations and the percent of people working in each respective field (courtesy of Mr. Brooks) </h4> </center>
    <table>
      <tr>
        <th>Job Class</th>
        <th>Percentage</th>
        <th>Start your career</th>
      </tr>
      <!-- Loop through a sorted dictionary -->
      {%  for key, value in dict|dictsort %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value[0] }}%</td>
        <!-- Includes the links to pages of information of the job -->
        <td><a href= {{ value[1] }} >here</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
